<div class="row main">
    <ul class="error-list">
	  {{#each error}}
	    {{msg}}<br>
	  {{/each}}
	</ul>
	<div class="main-login main-center">
			<form class="" method="POST" action="/registration">
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" value="{{inputData.name}}"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Your Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" value="{{inputData.email}}"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" value="{{inputData.username}}"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="confirmPassword" id="confirm"  placeholder="Confirm your Password"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="existing-team" class="cols-sm-2 control-label">Join an Existing League <b>- OR -</b> Create a New League</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							  <select class="form-control" name="team"  id="sel1">
							  <option value="default">--Existing Leagues--</option>
							  {{#each team}}
                              <option value="{{this.DISTINCT}}" >{{this.DISTINCT}}</option>
                              {{/each}}
							  </select>
						</div>
					</div>
				</div>
				<div class="form-group" id="new-team">
					<label for="new-team" class="cols-sm-2 control-label">Create a New League</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="newteam" id="newTeamName"  placeholder="Enter New League Name" value="{{inputData.team}}"/>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
				</div>
			</form>
	</div>
</div>