<div>Username: <b>{{user}}</b></div>
<div>Team Name: <b>{{team}}</b></div>
<div>Current Score:  <b>{{score}} Points</b></div>
<!-- Simple Layout for pushing Data to Standings Page- AGB  -->
<b><a href="/land/MainSt">Main Street USA</a> - 
<a href="/land/Adventureland">Adventureland</a> - 
<a href="/land/Frontierland">Frontierland</a> - 
<a href="/land/Fantasyland">Fantasyland</a> - 
<a href="/land/Tomorrowland">Tomorrowland</a><br></b>
<h1>Standings for {{team}}</h1>
<ol>
{{#each userName}}
  <li>{{{this.userName}}} - {{{this.score}}} </li>
{{/each}}
</ol>
<b><a href="/standings">View Standings</a> - <a href="/logout">Logout</a></b>
