<div><b>Username:</b> {{user}}</div>
<div><b>Team Name:</b> {{team}}</div>
<div><b>Current Score:  <span id='score'>{{score}}</span></b> Points</div>
<!-- Simple Layout for pushing Data to Standings Page- AGB  -->
<b><a href="/land/MainSt">Main Street USA</a> - 
<a href="/land/Adventureland">Adventureland</a> - 
<a href="/land/Frontierland">Frontierland</a> - 
<a href="/land/Fantasyland">Fantasyland</a> - 
<a href="/land/Tomorrowland">Tomorrowland</a><br></b>
<h1>Standings for {{team}}</h1>
<ol>
{{#each userName}}
  <li>{{{this.userName}}} - {{{this.score}}} </li>
{{/each}}
</ol>
<br>
<br>
<br><br>
<form action="/logout">
    <input type="submit" class="btn btn-lg btn-success" value="Logout" />
</form>